---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mí</a>
        <a href="/blog/">Blog</a>
		<h1>Astro</h1>
        <h1>Blog</h1>
        <h2>... Este es mi blog!</h2>
        <p>Este es un tutorial introductorio de Astro. Es la segunda página que hago. Estoy emocionado!</p>
        <p>Este sitio se irá actualziando a medida que vaya completando más partes del tutorial.</p>
	</body>
</html>
