---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>... Este es mi blog!</h2>
    <p>
      Este es un tutorial introductorio de Astro. Es la segunda página que hago.
      Estoy emocionado!
    </p>
    <p>
      Este sitio se irá actualziando a medida que vaya completando más partes
      del tutorial.
    </p>
    <ul>
      <li><a href="/posts/post-1/">Publicación 1</a></li>
      <li><a href="/posts/post-2/">Publicación 2</a></li>
      <li><a href="/posts/post-3/">Publicación 3</a></li>
    </ul>
</BaseLayout>