---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>... Este es mi blog!</h2>
    <p>
      Este es un tutorial introductorio de Astro. Es la segunda página que hago.
      Estoy emocionado!
    </p>
    <p>
      Este sitio se irá actualziando a medida que vaya completando más partes
      del tutorial.
    </p>
    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>